<nav class="desktop-sidebar-nav">
  <a class="desktop-nav-link {{#if isBookingsSection}}active{{/if}}" href="/bookings{{branchQueryString}}">
    <span class="desktop-nav-icon" aria-hidden="true"><i class="fa-solid fa-calendar-check"></i></span>
    <span>Đặt bàn</span>
  </a>
  {{#if canCreateBooking}}
    <button class="desktop-nav-link desktop-nav-action" type="button" data-open-booking-popup>
      <span class="desktop-nav-icon" aria-hidden="true"><i class="fa-solid fa-plus"></i></span>
      <span>Tạo đặt bàn</span>
    </button>
  {{/if}}
  {{#if canManageBranches}}
    <a class="desktop-nav-link {{#if isBranchesSection}}active{{/if}}" href="/branches{{branchQueryString}}">
      <span class="desktop-nav-icon" aria-hidden="true"><i class="fa-solid fa-store"></i></span>
      <span>Chi nhánh</span>
    </a>
  {{/if}}
  {{#if canManageCustomers}}
    <a class="desktop-nav-link {{#if isCustomersSection}}active{{/if}}" href="/customers{{branchQueryString}}">
      <span class="desktop-nav-icon" aria-hidden="true"><i class="fa-solid fa-address-book"></i></span>
      <span>Khách hàng</span>
    </a>
  {{/if}}
  {{#if canManageUsers}}
    <a class="desktop-nav-link {{#if isUsersSection}}active{{/if}}" href="/users{{branchQueryString}}">
      <span class="desktop-nav-icon" aria-hidden="true"><i class="fa-solid fa-users-gear"></i></span>
      <span>Người dùng</span>
    </a>
  {{/if}}
  {{#if canManageApiSettings}}
    <a class="desktop-nav-link {{#if isApiSettingsSection}}active{{/if}}" href="/api-settings{{branchQueryString}}">
      <span class="desktop-nav-icon" aria-hidden="true"><i class="fa-solid fa-code"></i></span>
      <span>API Settings</span>
    </a>
  {{/if}}
  {{#if canManageSheetSettings}}
    <a class="desktop-nav-link {{#if isSheetSettingsSection}}active{{/if}}" href="/sheet-settings{{branchQueryString}}">
      <span class="desktop-nav-icon" aria-hidden="true"><i class="fa-solid fa-table-list"></i></span>
      <span>Sheet Settings</span>
    </a>
  {{/if}}
</nav>
