<nav class="bottom-nav" aria-label="Điều hướng chính">
  <a class="nav-item {{#if isBookingsSection}}active{{/if}}" href="/bookings{{branchQueryString}}">
    <span class="bottom-nav-icon" aria-hidden="true">DB</span>
    <span>Đặt bàn</span>
  </a>
  {{#if canManageBranches}}
    <a class="nav-item {{#if isBranchesSection}}active{{/if}}" href="/branches{{branchQueryString}}">
      <span class="bottom-nav-icon" aria-hidden="true">CN</span>
      <span>Chi nhánh</span>
    </a>
  {{else}}
    <span class="nav-item disabled" aria-hidden="true">
      <span class="bottom-nav-icon">CN</span>
      <span>Chi nhánh</span>
    </span>
  {{/if}}
  {{#if canCreateBooking}}
    <button class="fab" type="button" data-open-booking-popup aria-label="Tạo đặt bàn">+</button>
  {{else}}
    <span class="fab disabled" aria-hidden="true">+</span>
  {{/if}}
  {{#if canManageUsers}}
    <a class="nav-item {{#if isUsersSection}}active{{/if}}" href="/users{{branchQueryString}}">
      <span class="bottom-nav-icon" aria-hidden="true">ND</span>
      <span>Người dùng</span>
    </a>
  {{else}}
    <span class="nav-item disabled" aria-hidden="true">
      <span class="bottom-nav-icon">ND</span>
      <span>Người dùng</span>
    </span>
  {{/if}}
  {{#if canManageApiSettings}}
    <a class="nav-item {{#if isApiSettingsSection}}active{{/if}}" href="/api-settings">
      <span class="bottom-nav-icon" aria-hidden="true">API</span>
      <span>API</span>
    </a>
  {{else}}
    <form class="nav-item logout-nav-form" method="post" action="/logout">
      <button class="logout-nav-button" type="submit">
        <span class="bottom-nav-icon" aria-hidden="true">TK</span>
        <span>Tài khoản</span>
      </button>
    </form>
  {{/if}}
</nav>
